# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Build Files
build/
dist/
*.egg-info/

# Generated Reports
BioForge_Report.pdf

# Operating System
.DS_Store
Thumbs.db